services:
  backend:
    build:
      context: ./backend

    volumes:
      - ./backend:/app
      - /app/node_modules

    command: npm run dev

    environment:
      NODE_ENV: development

    ports:
      - "3000:3000"